html{
	font-family: 'Noto Serif JP', serif!important;
}
header{
	display: flex!important;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}
footer{
	border-top: solid 1px #ddd;
}

.footer_content{

}
.footer_menu{

}
.plus_copyright{
	text-align: center;
}
.footerPlus{
	display: flex;
	justify-content: center;
}

.footerPlus li{
	border-right: solid 1px #000;
}
.footerPlus li:last-child{
	border:none;
}

.plus_main{
	margin: 0 auto;
}

a:hover{
	text-decoration: none;
}

.nowrap{
	white-space: nowrap;
}

.pagination{
	width: 100%;
}
.pagination ul{
	display: flex;
	justify-content: center;
}
.pagination ul li{
	color: #337ab7;
}
.current{
	color: #808080;
}

.navbar-brand{
	display: flex;
	align-items: center;
}
.main_logo{
	display: flex;
	align-items: center;
}
.h_logo_plus{
	max-width: 100%;
    height: 100%;
}
.plus_head_nav{

}
.plus_head_nav_child{

}
.smp-menu {
    display: none;
}

/* index */
.top_page{
	height: 38vw;
}
.top_image{
	width: 100%;
    position: absolute;
    height: 38vw;
}
.top_hover_anime{
	position: relative;
    height: 38vw;
    color: #fff;
    opacity: 0;
    transition: 1.5s;
}
.top_hover_anime:before{
	content: "";
    background: rgba(0,0,0,0.5);
    height: 38vw;
    display: block;
    position: absolute;
    width: 100%;
    left: -100%;
    transition: 1.5s;
}
.top_hover_anime_on{
	opacity: 1;
}

.top_hover_anime_on:before{
	left: 0;
}
.top_hover_anime_hover:before{
	left: 100%!important;
}
.top_hover_anime_p{
	position: relative;
    color: #fff;
    text-align: center;
}
.top_hover_anime_a{
	position: relative;
    margin: 0 auto;
    width: fit-content;
    display: block;
    transition: .3s;
}
.top_hover_anime_a:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
}
.top_massage{
	text-align: center;
}
.top_massage_h1{
	border: none!important;
	color: #000;
}
.top_massage_text{

}
.top_link{
	text-align: center;
	border-top: dashed 2px #ddd;
}
.top_link_h2{
	color: #498AC9;
}
.top_link_text{

}
.top_link_a{

}
.top_info{

}
.top_info_h2{
	text-align: center;
}
.top_info_box{
	background: #f0f8ff;
	border-radius: 10px;
}
.top_info_data{

}
.top_info_content{

}
/* index */

/* archive */

.archiveTitle{
	text-align: center;
	border: none;
}
.archiveBox{
    background: #fff;
    border: solid 1px #ddd;
}
.archiveBoxData{
	
}
.archiveBoxTitle{
	color: #0048cd;
}
.archiveBoxTime{
	color: #000;
}
.archiveBoxText{
	color: #000;
}
/* archive */




@media screen and (min-width: 768px){
	header{
		height: 70px;
	}
	footer{
		padding-bottom: 20px;
	}
	.footer_content{
	
	}
	.footer_menu{

	}
	.footerPlus{
		margin: 20px 0;
	}

	.footerPlus li{
		padding: 0px 10px;
		font-size: 14px;
	}
	.plus_copyright{
		font-size: 14px;
	}

	.main_logo{
		width: 33%;
		margin-left: 10px;
		justify-content: center;
	}
	.plus_main{
		width: 80%;
		padding: 30px 0;	
	}
	.plus_head_nav{
		display: flex;
	}
	.plus_head_nav_child{
		display: flex;
	    align-items: center;
	    height: 100%;
	    margin: 0 12px;
	}
	.plus_head_nav_child li{
	    height: 100%;
	}
	/*
	.plus_head_nav_child li a{
		font-size: 12px;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    padding: 0px 10px;
	}
	*/
	.plus_head_nav_child li a {
	  	font-size: 12px;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    padding: 0px 10px;

	    background-color: #fff;
	    color: #000;
	    overflow: hidden;
	    position: relative;
	    z-index: 1;
	    transition: 0.2s linear;
	}
	.plus_head_nav_child li a::after{
	      content: "";
	      position: absolute;
	      z-index: -1;
	      top: 0;
	      left: -100%;
	      width: 100%;
	      height: 100%;
	      transition: 0.5s linear;
    }
    .plus_head_nav_child li a:hover{
      color: #fff;
    }
    .plus_head_nav_child li a:hover::after{
        left: 0;
        background-color: rgba(0,0,0,0.7);
     }

	.pagination ul li{
		margin-right: 20px;
    	font-size: 20px;
	}

	.mb{
		margin-bottom: 50px;
	}

	.navbar-brand{
		width: 100%;
	}

	/* index */
	.top_hover_anime_p{
		font-size: 4vw;
		top: 12vw;
	}
	.top_hover_anime_a{
		top: 14vw;
	    padding: 10px 30px;
	    font-size: 3vw;
	    border: solid 1px;
	    color: #fff;
	}
	.top_massage{
		margin: 60px 0px!important;
	}
	.top_massage_h1{
		margin-bottom: 50px!important;
		font-size: 30px;
	}
	.top_massage_text{
		font-size: 24px;
	}
	.top_link{
		padding: 20px 0;
	}
	.top_link_last{
		margin-bottom: 30px;
	}
	.top_link_h2{
		font-size: 30px;
	}
	.top_link_text{
		margin: 20px 0px;
	    font-size: 18px;
	    line-height: 38px;
	}
	.top_link_a{
		width: 60%;
    	margin: 0 auto;
	}
	.top_info{
		margin: 50px auto;
		width: 60%;
	}
	.top_info_h2{
		font-size: 30px;
	}
	.top_info_box{
		padding: 20px;
	}
	.top_info_data{

	}
	.top_info_content{
		
	}
	/* index */

	/* archive */
	.archiveTitle{
		font-size: 30px;
    	margin: 20px 0;
	}
	.archiveBox{
		margin: 0 auto;
	    margin-bottom: 20px;
	    padding: 20px;
	}
	.archiveBoxData{
		display: flex;
    	align-items: center;
    	justify-content: space-between;
	}
	.archiveBoxTitle{
		margin: 0px 20px;
    	font-size: 26px;
	}
	.archiveBoxTime{
		font-size: 12px;
		white-space: nowrap
	}
	.archiveBoxText{
		font-size: 18px;
	}
	/* archive */
}

@media screen and (max-width: 767px){
	header{
		height: 18vw;
		position: relative;
		padding-bottom: 6vw;
	}
	footer{
	
	}
	.footerPlus{
		margin: 6vw 0;
	    padding: 0 3vw;
	}
	.footerPlus li{
		padding: 0px 1vw;
	    font-size: 3.6vw;
	}

	.plus_copyright{
		font-size: 3vw;
	}
	.plus_main{
		
	}

	.nav{
		padding: 0 15px;
	}

	.pagination ul li{
		margin-right: 20px;
    	font-size: 20px;
	}

	.mb{
		margin-bottom: 50px;
	}

	.navbar-brand{
		width: 80%;
	}

	.main_logo{
		width: 80%;
	}
	.plus_head_nav{
		display: none;
		position: absolute;
	    background: rgba(255,255,255,0.9);
	    top: 18vw;
	    z-index: 1;
	    width: 100%;
	}
	 .smp-menu{
    display: block;
    position: relative;
    z-index: 5;
  }

	.menu-toggle{
	position: relative;
	top: 4vw;
	width: 8vw;
	}

	.menu-toggle span{
	display: block;
	position: absolute;
	right: 4vw;
	width: 100%;
	height: 0.75vw;
	background: #000;
	transition: all .4s;
	}

	.menu-toggle span:nth-child(1) {
		top: 2.6vw;
	}

	.menu-toggle span:nth-child(2) {
		top: 4.6vw;
	}

	.menu-toggle span:nth-child(3) {
		top: 6.6vw;
	}
	.active .menu-toggle{

	}
	.active .menu-toggle span:nth-child(1) {
		-webkit-transform: translateY(0px) rotate(-315deg);
		transform: translateY(0px) rotate(-315deg);
		top: 4.6vw;
	}

	.active .menu-toggle span:nth-child(2) {
		opacity: 0;
	}

	.active .menu-toggle span:nth-child(3) {
		-webkit-transform: translateY(0px) rotate(315deg);
	  	transform: translateY(0px) rotate(315deg);
	  	top: 4.6vw;
	}
	.plus_head_nav_child li{
		text-align: center;
	    padding: 4vw 0;
	    border-bottom: solid 1px #000;
	    font-size: 4vw;
	}

	

	/* index */
	.top_hover_anime_p{
		font-size: 6vw;
    	top: 6vw;
	}
	.top_hover_anime_a{
		top: 8vw;
	    padding: 2vw 7vw;
	    font-size: 4vw;
	    background: rgba(255,255,255,0.8);
	    color: #000;
	    font-weight: bold;
	}
	.top_massage{
		margin: 16vw 0px!important;
	}
	.top_massage_h1{
		margin-bottom: 8vw!important;
		font-size: 8vw;
	}
	.top_massage_text{
		font-size: 5.2vw;
	}
	.top_link{
		padding: 4vw 0;
	}
	.top_link_last{
		margin-bottom: 12vw;
	}
	.top_link_h2{
		font-size: 7vw;
	}
	.top_link_text{
		margin: 4vw 0px;
	    font-size: 4.2vw;
	    line-height: 8vw;
	}
	.top_link_a{
		width: 88%;
    	margin: 0 auto;
	}
	.top_info{
		margin: 20vw auto;
    	width: 96%;
	}
	.top_info_h2{
		font-size: 8vw;
	}
	.top_info_box{
		padding: 4vw;
	}
	.top_info_data{
		
	}
	.top_info_content{
		
	}
	/* index */

	/* archive */
	.archiveTitle{
		font-size: 8vw;
    	margin: 3vw 0;
	}
	.archiveBox{
		margin: 4vw 3vw;
	    padding: 2vw 4vw;
	    box-sizing: border-box;
	}
	.archiveBoxData{
		text-align: center;
	}
	.archiveBoxTitle{
    	font-size: 6vw;
	}
	.archiveBoxTime{
		font-size: 4vw;
    	margin: 0.6vw 0;
	}
	.archiveBoxText{
		font-size: 5.2vw;
	}
	/* archive */
}

/*Contact Form 7カスタマイズ*/
/*スマホContact Form 7カスタマイズ*/
@media(max-width:500px){
.inquiry th,.inquiry td {
 display:block!important;
 width:100%!important;
 border-top:none!important;
 -webkit-box-sizing:border-box!important;
 -moz-box-sizing:border-box!important;
 box-sizing:border-box!important;
}
.inquiry tr:first-child th{
 border-top:1px solid #d7d7d7!important;
}
/* 必須・任意のサイズ調整 */	
.inquiry .haveto,.inquiry .any {	
font-size:10px;
}}
.inquiry{
	width: 100%;
}
/*見出し欄*/
.inquiry th{
	text-align: left;
	font-size: 14px;
	color: #444;
	padding: 10px;
	width: 40%;
	background: #f7f7f7;
	border: solid 1px #d7d7d7;
}
/*通常欄*/
.inquiry td{
 font-size:13px;
 border:solid 1px #d7d7d7;
 padding: 10px;
}
/*横の行とテーブル全体*/
.entry-content .inquiry tr,.entry-content table{
 border:solid 1px #d7d7d7;	
}
/*必須の調整*/
.haveto{
 font-size:7px;
 padding:5px;
 background:#ff9393;
 color:#fff;
 border-radius:2px;
 margin-right:5px;
 position:relative;
 bottom:1px;
}
/*任意の調整*/
.any{
 font-size:7px;
 padding:5px;
 background:#93c9ff;
 color:#fff;
 border-radius:2px;
 margin-right:5px;
 position:relative;
 bottom:1px;
}
/*ラジオボタンを縦並び指定*/
.verticallist .wpcf7-list-item{
 display:block;
}
/*送信ボタンのデザイン変更*/
#formbtn{
 display: block;
 padding:1em 0;
 margin-top:30px;
 width:100%;
 background:#ffaa56;
 color:#fff;
 font-size:18px;
 font-weight:bold;	 
 border-radius:2px;
 border: none;
}
/*送信ボタンマウスホバー時*/
#formbtn:hover{
 background:#fff;
 color:#ffaa56;
}